.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --interactible-base:#c9c9c9;
  --interactible-hover:#d9d9d9;
  --interactible-active:#e9e9e9;
  --interactible-chosen:#9b9b9b;
  --interactible-blocked:#898989;
  --option-base: #ffffff;
  color: #000000;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{box-sizing:border-box;}

.container {
  margin: 0;
  padding:0;
  max-height: inherit;
  display:flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
  
}

.text-left {
  text-align: left;
}

.inline-item {
  display:inline-block;
  margin-right:10px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.multi-input-container {
  max-width:100%;
  min-width: 90%;
}

table {
  min-width: 100%;
}

tr th {
  align-items: center;
}

tr td {
  align-items:start;
}

.label-input-combo {
  max-width:100%;
  min-width: 100%;
  display: flex;
  align-items: stretch;
}

.mainapp-button {
  background-color:var(--interactible-base);
  border: 1px solid;
  box-shadow: 3px 1px 1px #000000;
}

.mainapp-unused-button {
  background-color:var(--interactible-blocked);
  border: 1px solid;
}


.mainapp-button:hover {
  background-color:var(--interactible-hover);
}

.mainapp-button:active {
  background-color:var(--interactible-active);
  box-shadow:0px 0px 0px #000000;
}

.chat-option {
  background-color: var(--option-base);
  padding: 2px;
  border: 0 solid transparent;
  min-width: 100%;
  margin: -2px;
}

.chat-option-div {
  margin-bottom: -2px;
  margin-top: -2px;
  padding: 0;
  border: 0 solid transparent;
}

.dialog-on-top {
  z-index: 1000;
  position: absolute;
  top:35%;
  left:35%;
  width: 30%;
  height: 30%;
}

.chosen-chat {
  background-color: var(--interactible-chosen);
}


.chat-option:hover {
  background-color: var(--interactible-hover);
}

.chat-option:active {
  background-color: var(--interactible-active);
}



.chat-part {
  display: flex;
  flex-direction: row;
  margin: 0;
  flex:1;
  max-height: inherit;
  box-sizing: border-box;
  min-height: 0;
}

.most-horizontal-space {
  flex:1;
}

/* https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder {
  color: rgb(86, 86, 86);
  opacity: 1; /* Firefox */
}


.most-horizontal-space-no-flex {
  min-width: calc(100% - 3px);
  max-width: calc(100% - 3px);
}

.at-most-a-sixth-width {
  max-width:16.5%;
}

.first-level {
  background-color: #ffffff;
  border: 7px ridge #000000;
}

.second-level {
  background-color: #f0f0f0;
}

.third-level {
  background-color: #e9e9e9;
}

.ai-turn {
  background-color:#e0e0e0;
}

.tool-turn {
  background-color:#c0c0c0;
}

.standard-padding-margin-corners {
  padding: 2px;
  margin: 0;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.chat-title-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.align-right {
  align-self: right;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.list-plus-other-col {
  flex:1;
  display: flex;
  flex-direction: column;
}

.max-height-of-container {
  min-height: 0;
  max-height:inherit;
}

.bottom-bar {
  margin-top: auto;
  flex : 0 1 auto;
}

.chat-display {
  min-height:90%;
}

pre {
  overflow-x: auto;
  max-width: 100%;
}

code {
  overflow-x: auto;
  max-width: 100%;
}

.list-holder {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  min-height:0;
  min-width: 0;
  margin: 0;
  padding:0;
  display:block;
  flex-grow: 1;
  height: 100%;
  max-height: 100%;
}


.hundred-p-width {
  max-width: 100%;
}

.fixed-80-vh {
  height:60vh;
  max-height:60vh;
}


input {
  flex:1;
  background-color:#c9c9c9;
  border: 1px solid;
  color: #000000;
  box-shadow: 1px 1px 1px 1px #000 inset;
}

textarea {
  flex:1;
  background-color:#c9c9c9;
  border: 1px solid;
  color: #000000;
  box-shadow: 1px 1px 1px 1px #000 inset;
}

.row {
  display: flex;
  justify-content: center;
}


#top-bar {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  height:60px;
  flex-shrink: 0;
}

#proxima-logo {
  min-width:10%;
  width: 100%;
  flex:25%;
  border: 0px solid transparent;
}

#menu-bar {
  min-width: 50%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height:100%;
  display: flex;
  align-items: stretch;
}

.menu-item {
  text-align: center;
  font-size: 1.5em;
  font-family: inherit;
  background-color: var(--interactible-chosen);
  width: 100%;
  flex: 25%;
  border: 0px solid transparent;
}

.interactive-part {
  min-width: 95%;
  max-width: 100%;
  background-color: #ffffff;
  flex-grow: 1;
  min-height: calc(100vh - 60px);
  max-height: inherit;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}


#greet-input {
  margin-right: 5px;
}


.menu-item:hover {
  background-color: var(--interactible-hover);
}
.menu-item:active {
  background-color: var(--interactible-active);
}
#chosen {
  background-color: var(--interactible-base);
}

/*https://www.w3schools.com/colors/colors_picker.asp*/

@media (prefers-color-scheme: dark) {

}
