.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{box-sizing:border-box;}

.container {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display:flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.multi-input-container {
  max-width:100%;
  min-width: 90%;
}

table {
  min-width: 100%;
}

tr th {
  align-items: center;
}

tr td {
  align-items:start;
}

.label-input-combo {
  max-width:100%;
  min-width: 100%;
  display: flex;
  align-items: stretch;
}

.mainapp-button {
  background-color:#3e632d;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid transparent;
}

.chat-option {
  border-radius: 8px;
  background-color: #1a5800;
  padding: 4px;
  border: 0px solid transparent;
  min-width: 100%;
}

.chosen-chat {
  background-color:#568b3e;
}


.chat-option:hover {
  background-color:#568b3e;
}

.chat-option:active {
  background-color:#6aab4c;
}

.mainapp-button:hover {
  background-color:#568b3e;
}


.chat-part {
  display: flex;
  flex-direction: row;
  margin: 0;
  flex:1;
}

.most-horizontal-space {
  flex:1;
}



.most-horizontal-space-no-flex {
  min-width: calc(100% - 3px);
  max-width: calc(100% - 3px);
}

.all-vertical-space {
  min-height: 100%;
  max-height: 100%;
}

.at-most-a-sixth-width {
  max-width:16.5%;
}

.first-level {
  background-color: #1a5800;
}

.second-level {
  background-color: #206900;
}

.third-level {
  background-color: #407a25;
}

.nonuser-turn {
  background-color:#29421e;
}

.standard-padding-margin-corners {
  padding: 8px;
  margin: 3px;
  border-radius: 8px;
}

.chat-tab-not-sidebar {
  display: flex;
  flex-direction: column;
}

.list-plus-other-col {
  flex:1;
  display: flex;
  flex-direction: column;
  max-height: 92vh;
}

.bottom-bar {
  margin-top: auto;
  flex : 0 1 auto;
}

.chat-display {
  min-height:90%;
}

pre {
  overflow-x: auto;
  max-width: 100%;
}

code {
  overflow-x: auto;
  max-width: 100%;
}

.list-holder {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
  display:block;
}

.fixed-80-vh {
  height:60vh;
  max-height:60vh;
}

.all-vertical-space-flex {
  flex: 1 1 auto;
}

.mainapp-button:active {
  background-color:#6aab4c;
}

input {
  flex:1;
  background-color:#639e47;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid transparent;
}

textarea {
  flex:1;
  background-color:#192912;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid transparent;
  color: #fff;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}


#top-bar {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  font-size: 1em;
  min-height: 3vh;
}

#proxima-logo {
  min-width:10%;
  width: 100%;
  flex:25%;
  border: 0px solid transparent;
}

#menu-bar {
  min-width: 50%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height:100%;
  display: flex;
  align-items: stretch;
}

.menu-item {
  text-align: center;
  font-size: 1.5em;
  font-family: inherit;
  background-color: #545454;
  width: 100%;
  flex: 25%;
  border: 0px solid transparent;
}

.menu-item:hover {
  background-color: #545454;
}

.interactive-part {
  min-width: 95%;
  max-width: 100%;
  background-color: #565656;
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.init-elems {
  min-width: 90%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #2b2b2b;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}


#greet-input {
  margin-right: 5px;
}

/*https://www.w3schools.com/colors/colors_picker.asp*/

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #001e02;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  .interactive-part {
    background-color: #003e00;
  }

  #proxima-logo {
    background-color: #1c1c1c;
  }
  #proxima-logo:active {
    background-color: #6e6e6e;
  }
  #proxima-logo:hover {
    background-color: #383838;
  }
  

  .menu-item:hover {
    background-color: #1a5800;
  }
  .menu-item:active {
    background-color: #88c36a;
  }
  .menu-item {
    background-color: #2b6712;
  }
  #chosen {
    background-color: #003e00;
  }
}
